@charset "utf-8";

// Custom Styling
// This is to accomodate things that are not in Bulma
/////////////////////////////////////////////////////

@media all and (min-width: 769px) {
  html {
    overflow: hidden;
  }

  .is-fullheight {
    height: 100vh;
  }

  .is-maxheight {
    height: 100%;
  }

  .border-right {
    border-right: 1rem solid #dbdbdb;
    background-color: white;
  }

  .border-left {
    border-left: 1rem solid white;
    background-color: white;
  }

  .cap-height {
    max-height: 100vh;
    overflow-y: auto;
    display: block;
  }

  .is-absolute {
    position: absolute;
    z-index: 100;

    &.is-visible {
      animation-name: flyout-modal;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      right: -66.66%;
    }

    &.is-visually-hidden {
      animation-name: flyout-modal-back;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      right: 0%;
    }
  }

  .close-flyout-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(33% - 0.75rem);
    height: 100%;
    padding: 0px;
    opacity: 0.4;
    border-radius: 0px;
    background-color: #000000;

    span {
      display: none;
    }
  }
}


.border {
  border: 2px solid #dbdbdb;
  background-color: white;

  .breakout {
    margin: -2px !important;
    padding: 2px !important;
  }

  .input {
    border: none !important;
  }
}

@media all and (max-width: 1128px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .is-hidden-on-mobile { display: none; }
  .close-flyout-menu {
    width: 100%;
    height: 60px;
    padding: 0px;
    border: none;
    left: 0px;
    text-align: center;
    color: white;
    background-color: #000000;
  }
  .theme_background { display: none; }
}

@keyframes flyout-modal {
  0% {
    right: -66.66%;
  }

  100% {
    right: 0%;
  }
}

@keyframes flyout-modal-back {
  0% {
    right: 0%;
  }

  100% {
    right: -66.66%;
  }
}

.text-center {
  text-align: center;
}