@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
//@import "node_modules/bulma/sass/utilities/_all.sass";
//@import "node_modules/bulma/sass/base/_all.sass";
//@import "node_modules/bulma/sass/components/_all.sass";
//@import "node_modules/bulma/sass/elements/button.sass";
//@import "node_modules/bulma/sass/elements/container.sass";
//@import "node_modules/bulma/sass/elements/title.sass";
//@import "node_modules/bulma/sass/form/_all.sass";
//@import "node_modules/bulma/sass/components/navbar.sass";
//@import "node_modules/bulma/sass/layout/hero.sass";
//@import "node_modules/bulma/sass/layout/section.sass";
//@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/bulma.sass";

// Custom Styling
html { overflow: hidden;}

.is-fullheight {
  height: 100vh;
}

@media all and (max-width: 768px) {
  .is-fullheight {
    height: auto;
  }
}

.is-maxheight {
  height: 100%;
}

.border {
  border: 2px solid #dbdbdb;
  background-color: white;

  .breakout {
    margin: -2px !important;
    padding: 2px !important;
  }
  
  .input {
    border: none !important;
  }
}

.border-right {
  border-right: 1rem solid #dbdbdb;
  background-color: white;
}

.border-left {
  border-left: 1rem solid white;
  background-color: white;
}

@media all and (max-width: 1128px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@keyframes flyout-modal {
  0% { right: -66.66%; }
  100% { right: 0%; }
}

@keyframes flyout-modal-back {
  0% { right: 0%; }
  100% { right: -66.66%; }
}

.is-absolute {
  position: absolute;
  z-index: 10;

  &.is-visible {
    animation-name: flyout-modal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    right: -66.66%;
  }

  &.is-visually-hidden {
    animation-name: flyout-modal-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    right: 0%;
  }
}

.close-flyout-menu {
  position: fixed;
  top: 0px;
  margin-left: calc(-2.45em - 60px);
}

.cap-height {
  max-height: 100vh;
  overflow-y: auto;
}


// Project Specific Styling
.user-result {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  position: relative;

  & img {
    border-radius: 100% !important;
    width: 100% !important;
    margin-bottom: 3rem;
    border: 1.1rem solid #d6d6d6;
    background-color: white;
  }

  .title.button {
    text-align: left;
    display: block;
    z-index: 10;
    position: absolute;
    margin-top: -85px;
    height: auto;
  }

  big.title.button {
    margin-top: -125px !important;
    
  }
}

.repo-entry {
  border: 3px solid #dbdbdb;
  border-radius: 5px;
  background-color: white ;
  position: relative;
  margin-top: 2rem;
}

.icon-holder {
  position: absolute;
  top: -17px;
  right: 10px;
  background: grey;
  border: 2px solid;
  padding: 5px 10px;
  color: white
}

.background-grey {
  background-color: #dbdbdb;
  background-size: 300%;
  background-position: center;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  right: 0px;
  opacity: 0.3;
}


.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 42px;
  height: 28px;
  border: 4px solid transparent;
  border-radius: 40px
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 32px;
  height: 4px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.gg-close::after {
  transform: rotate(-45deg)
}